@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Header {
    width: 100%;
    height: 3rem;
    flex-shrink: 0;
    border-bottom-style: ridge;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background: rgba(175, 193, 214, 0.20);
}
.Nave {
    position: relative;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Title {
    font-size: 2rem;
    text-align: left;
    margin-left: 1rem;
    left: 0;
    position: absolute;
    color: #231123;
}
.Nave > a {
    text-align: center;
    position: absolute;

    background-color: #231123;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #EFF7FF;
    cursor: pointer;
}
.Nave > a:hover {
    color: darkslateblue;
    transition: 125ms;
}
.material-symbols-outlined {
    text-align: right;
    margin-right: 1rem;
    right: 0;
    position: absolute;
    color: #231123;
    cursor: pointer;
}
.material-symbols-outlined:hover {
    color: #EFF7FF;
    transition: 125ms;
}

main {
    background-color: #231123;
    
    /* background-image: url(.\images\01image.png); */
    background-position: center center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.next-page {
    background-color: #231123;
    border-width: 2px;
    border-style: solid;
    border-color: #EFF7FF;
    border-radius: 10px;
    color: #EFF7FF;
    text-align: right;
    margin-right: 1rem;
    right: 0;
    position: absolute;
    font-size: x-large;
    padding: 0.5rem;
    max-width: 30%;
}
.page1-redirect {
    text-decoration: none;
    color: #FFBE0B;
    cursor: pointer;
}
.page1-redirect:hover {
    color: #EFF7FF;
    transition: 0.25s;
}

.img1 {
    /* max-width: 50%; */
    width: 50%;
    height: 100%;
    /* background-color: #FFBE0B; */
    text-align: right;
    right: 0;
    position: absolute;
}
#zelda {
    width: 100%;
}

.main-content {
    top: 5rem;
    position: absolute;
    font-size: xx-large;
    color: #EFF7FF;
    background-color: #231123bb;
    border-width: 2px;
    border-style: solid;
    border-color: #EFF7FF;
    border-radius: 10px;
    padding: 0.5rem;
    width: fit-content;
    max-width: 60%;
}
.second-text {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    left: 0;
    bottom: 20%;
    position: absolute;
    color: #EFF7FF;
    font-size: xx-large;
    background-color: #ffbe0b25;
    border-width: 2px;
    border-style: solid;
    border-color: #EFF7FF;
    border-radius: 10px;
    padding: 0.5rem;
    /* height: 30%; */
    width: fit-content;
}
.zelda-redirect {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    text-decoration: none;
    color: #FFBE0B;
    cursor: pointer;
}
.zelda-redirect:hover {
    color: #EFF7FF;
    transition: 0.25s;
}

.Rodape {
    text-align: center;
    background-color: #EFF7FF;
    border-top-style: groove;
}
.Rodape > p {
    font-size: xx-large;
    color: #231123;
}
.Rodape > i > a > img {
    width: 3.2rem;
    margin: 0 1em;
    transition: transform 0.5s ease;
}
.Rodape > i > a > img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

@media screen and (min-width: 375px) {
    i#drop {
        display: none;
    }

    #nome {
        width: 50%;
        margin-top: 0rem;
    }
}
